.no-print,.print-hide{
    display: none;
}

.top-left{
    display: none;
}

.top-right{
    display: none;
}

.bottom-left{
    display: none;
}

.bottom-right{
    display: none;
}
.btn-box,.change-btn{
    display: none;
}

.fixed-box{
    display: none;
}

.main,.main-body,.center-box{
    margin: 0;
}

.formBorder,.border-box,.bottom-border{
    border: 0;
}

.bottom-hide{
    display: none;
}

.bottom-position,.print-header-box,.print-bottom-box,.print-show{
    display: block;
}

/*.min-height{*/
    /*min-height: 1450px;*/
/*}*/

.address-width{
    width: 349px;
}

.name-sex-width{
    width: 120px;
}

#mainright{
    float: none;
    padding: 50px 0;
}

.page-next{
    page-break-after: always;
}

.title-num{
    margin-right: 90px;
}