.no-print,.print-hide{
    display: none;
}

.top-left{
    display: none;
}

.top-right{
    display: none;
}

.bottom-left{
    display: none;
}

.bottom-right{
    display: none;
}
.btn-box,.change-btn{
    display: none;
}

.fixed-box{
    display: none;
}

.main,.main-body,.center-box{
    margin: 0;
}

.formBorder,.border-box,.bottom-border{
    border: 0;
}

.bottom-hide,.goback{
    display: none;
}

.bottom-position,.print-header-box,.print-bottom-box,.print-show{
    display: block;
}

/*.min-height{*/
    /*min-height: 1450px;*/
/*}*/

.address-width{
    width: 404px;
}

.name-sex-width{
    width: 120px;
}

#mainright{
    float: none;
    padding: 50px 0 0 0;
}

.page-next{
    page-break-after: always;
}

.title-num{
    margin:0 90px 0 0;
}
.word-num{
    float: right;
}
.reference-number{
    width: 50px;
    font-weight:900;
    font-size: 18px;
    float: left;
}
.sign-margin{
    width: 90%;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
    position: relative;
    color: #333;
    font-size: 16px;
}

.title-form-name{
    font-size: 40px;
    padding: 50px 0 30px 0;
}
.word-title{
    font-size: 18px;
}
.font-big{
    font-size: 16px;
}
.print-name-width{
    width: 98px;
}
.width-box{
    width:48px;
}
.news-width{
    width:98px;
}
.margin-form-party{
    margin: 5px 1px;
}
.all-width{
    width: 41px;
}
.content-indent,.apply-name,.time-right{
    font-size: 16px;
}
.page-fixed-height{
    width: 100%;
    height: 70px;
}